.my-pic{
    background-color: #e6edfd;
    width: 40%;
    background-image: url('Assets/Website info/images/mandeep kaur pic.jpg');
    opacity: 0.8;
    background-size: cover;
    margin-right: 1.5rem;
}
.contact-box{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
.contact-area{
    background-color: #CCD3E3;
    width: 100%;
    padding: 3rem;
}
.contact-area-heading{
    text-align: center;
    font-size: 2rem;
    color: #14213D;
    font-weight: 800;
}
.contact-area-subheading{
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #14213D;
    font-weight: 600;
}
.contact-area-keyword{
    font-size: 1.1rem;
    color: #8f0b0b;
    font-weight: 550;
}
.contact-area-main-info-para{
    margin-top:1.5rem;
    line-height: 1.5rem;

}
