.about-pi{
    margin:4rem 8rem;
}
.about-pi-heading{
    text-align: center;
    font-size: 2rem;
    color: #14213D;
    font-weight: 800;
}
.about-pi-content{
    margin-top: 2rem;
    text-align: start;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.about-pi-content p{
    margin-top: 2rem;
    text-align: justify;
}

/* Awards and Honors  */

.awards-section{
    background-color: #CCD3E3;
    font-size: 1.1rem;
    padding: 5rem 2rem;
    box-shadow: 0 0 6px black;
}
.awards-section-heading{
    font-size: 2rem;
    color: #14213D;
    font-weight: 800;
    
}
.awards-section-content{
    margin-top: 2rem;
    text-align: start;
    font-size: 1.2rem;
    line-height: 2.3rem;
}
.awards-section-content ul{
    padding-left: 3rem;
}

/* Poster Section */

/* .poster-section{
    margin:4rem 8rem;
}
.poster-section-heading{
    text-align: center;
    font-size: 2rem;
    color: #14213D;
    font-weight: 800;
}
.poster-section-content{
    margin-top: 2rem;
    text-align: start;
    font-size: 1.2rem;
    line-height: 2rem;
}
.poster-section-content ul{
    padding-left: 1rem;
}  */


/* Teaching  */

/* 
.teaching-section{
    background-color: #CCD3E3;
    padding: 5rem 2rem;
}
.teaching-heading{
    font-size: 2rem;
    color: #14213D;
    font-weight: 800;
}
.teaching-content{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.teaching-card{
    padding: 4rem 3rem;
    margin: 1.5rem;
    height: 8rem;
    width: 9rem;
    background-color: #e5e5e5;
    border-radius: 2rem;
    border: 0.5px solid black;
}
.teaching-card:hover{
    box-shadow: 0 0 6px #14213D;
}
.teaching-card-heading{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.teaching-card-content{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;
} */

/* New Teaching Section */

.teaching-section{
    background-color: #ffffff;
    /* padding: 5rem 2rem; */
    margin:4rem 8rem;
}
.teaching-heading{
    font-size: 2rem;
    color: #14213D;
    font-weight: 800;
    text-align: center;
}
.teaching-content{
    display: flex;
    justify-content: start;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 2rem;
}
.teaching-card{
    padding: 4rem 2rem;
    margin: 1.5rem;
    height: 7rem;
    /* width: 7.5rem; */
    width: 100%;
    background-color: #CCD3E3;
    border-radius: 2rem;
    border: 0.5px solid black;
}
@media (max-width:1272px) {
    .teaching-content{
        flex-wrap: wrap;
    }
    .teaching-card{
        width: 7.5rem;
    }
}
.teaching-card:hover{
    box-shadow: 0 0 6px #14213D;
}
.teaching-card-heading{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.teaching-card-content{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;
} 